body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
.insignia {
    width:400;
    height:175;
    margin-right: 50px;
    float: left;
  }
  .mainstay {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    float:left;
  }
  .ref {
    width: 300px;
    height: 400px;
  }
  .col1 {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
  }
  .col2 {
    vertical-align: top;
  }